
#contact
{
    background-image: url("assets/portfolio/contact.jpg");
    background-attachment: fixed;
    background-position: no-repeat;
}
.btn-primary{
    color: #fff;
    background-color: rgb(221, 32, 95);
    border-color: rgb(221, 32, 95);
  }
  .btn-primary:hover{
    color: #fff;
    background-color: rgb(221, 32, 95);
    border-color: rgb(221, 32, 95);
  }
  .btn-primary:focus, .btn-primary.focus{
    color: #fff;
    background-color: rgb(221, 32, 95);
    border-color: rgb(221, 32, 95);
    box-shadow: 0 0 0 0.2rem rgba(254, 216, 84, 0.5);
  }
  .btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: rgb(221, 32, 95);
    border-color: rgb(221, 32, 95);
  }
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: rgb(221, 32, 95);
    border-color: rgb(221, 32, 95);
  }
  .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 216, 84, 0.5);
  }

  .bg-primary:not(:disabled):not(.disabled):active, .bg-primary:not(:disabled):not(.disabled).active, .show > .bg-primary.dropdown-toggle
  {
    color: #fff;
    background-color: rgb(221, 32, 95);
    border-color: rgb(221, 32, 95);  
  }
.bg-primary.disabled, .bg-primary:disabled
  {
    color: #fff;
    background-color: rgb(221, 32, 95);
    border-color: rgb(221, 32, 95);
  }
.bg-primary:focus, .bg-primary.focus
{
    color: #fff;
    background-color: rgb(221, 32, 95);
    border-color: rgb(221, 32, 95);
    box-shadow: 0 0 0 0.2rem rgba(254, 216, 84, 0.5);
}
.bg-primary:hover
{
    color: #fff;
    background-color: rgb(221, 32, 95);
    border-color: rgb(221, 32, 95);   
}
.bg-primary
{
    color: #fff;
    background-color: rgb(221, 32, 95);
    border-color: rgb(221, 32, 95);
}